{% extends "base.html" %}
{% load static %}
{% block title %}<title>{{app.name|capfirst}} - Review</title>{% endblock %}

{% block content %}
<div class="central-area">
    <main class="main-apps">
        <div class="app-info">
            <div class="foto"><img src="{% static app.img_path %}" alt="{{app.name}} pic"></div>
            <div class="app-information">
                <p class="app-name">Nome: {{app.name}}</p>
                <p class="app-cat">Categoria: {{app.category}}</p>
                <p class="app-reviews">Reviews: {{app.num_reviews|floatformat:0}}</p>
            </div>
            <div class="avaliations">
                <p>Avaliação F.: {{app.star}} Estrelas</p>
                <p>Avaliação R.: {{app.compound|floatformat:1}} Estrelas</p>
            </div>
        </div>

        <div class="word-cloud"><img src="{% static app.cloud_path %}" alt="{{app.name}} word cloud"></div>

        <div class="app-details">
            Tabela de detalhes
        </div>
    </main>

    {% include "footer.html" %}

    {% block footer %}
    {% endblock footer%}
</div>
{% endblock content %}